.footer {
  background-color: $title-dark-theme-color;
}

.footer-container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;
}
.logo-footer {
  margin-bottom: 20px;
}

.logo-font-dark-theme {
  color: $font-on-dakr-theme;
}

.address-list:not(:last-child) {
  margin-bottom: 9px;
}
.address-link-black-theme {
  color: $font-on-dakr-theme;
  font-family: $main-font;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.contact-link-black-theme {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.enjoy {
  margin-left: 70px;
}
.enjoy-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-link {
  width: 44px;
  height: 44px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.enjoy-list:not(:last-child) {
  margin-right: 10px;
}
.dark-link {
  fill: $font-on-dakr-theme;
}
.enjoy-social {
  margin-top: 20px;
}
.enjoy-text {
  font-family: $main-font;
  color: $font-on-dakr-theme;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
