.team {
  background-color: $title-light-theme-color;
}
.team-container {
  padding-top: 94px;
}

.team-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  flex-direction: column;
  background-color: $font-on-dakr-theme;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  color: $main-font-color;
  font-family: $main-font;
  font-style: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.team-prof {
  color: $secondary-font-color;
  font-family: $main-font;
  font-style: normal;
  text-align: center;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
